body {
  overflow: auto;
  color: #4682b4;
  background: blanchedalmond;
}
.other {
  width: 15%;
  height: auto;
  float: left;
  background: blanchedalmond;
}
.container {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  flex-basis: 79%;
  margin-top: 0px;
}
h1 {
  text-align: center;
  background: steelblue;
  margin: 0 auto;
  padding: 1%;
  color: blanchedalmond;
}
nav {
  margin: 0 auto;
  padding: 0.5%;
  text-align: center;
  background: steelblue;
}
button {
  background: blanchedalmond;
  display: inline-block;
  padding: 1%;
  margin: 1%;
  border-radius: 5pt;
  text-decoration: none;
}
button:hover {
  background: lightgreen;
  cursor: pointer;
}
h2 {
  color: black;
}
h3,
h5 {
  text-align: left;
  margin: 5%;
}
.empl {
  width: 32%;
  height: 90%;
  border: 1px solid black;
  margin: 0% 0.5%;
  background: white;
}
.one {
  float: left;
  width: 46%;
  height: auto;
}
.two {
  float: left;
  width: 52%;
  height: auto;
  text-align: left;
  padding: 1%;
}
img {
  width: 100%;
  height: auto;
}
form {
  display: inline-block;
}
.edit {
  background: white;
}
.delete {
  background: blanchedalmond;
  border-radius: 5px;
}
.delete:hover {
  background: red;
  cursor: pointer;
}
.toedit {
  background: blanchedalmond;
  border-radius: 5px;
}
.toedit:hover {
  background: lightgreen;
  cursor: pointer;
}
a {
  text-decoration: none;
}
a,
a:visited {
  color: inherit;
}
a:hover h3 {
  color: lightgreen;
}
