body {
  overflow: auto;
  color: #4682b4;
  background: blanchedalmond;
  margin: 0px;
}

.other {
  width: 15%;
  height: auto;
  float: left;
  background: blanchedalmond;
}
.container {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: start;
  margin: 0px;
  width: 80%;
}
h1 {
  text-align: center;
  background: steelblue;
  margin: 0 auto;
  padding: 1%;
  color: blanchedalmond;
}
nav {
  margin: 0 auto;
  padding: 0.5%;
  text-align: center;
  background: steelblue;
}
button {
  background: blanchedalmond;
  display: inline-block;
  padding: 1%;
  margin: 1%;
  border-radius: 5pt;
  text-decoration: none;
}
button:hover {
  background: lightgreen;
  cursor: pointer;
}
h2 {
  color: black;
}
h3,
h5 {
  text-align: left;
  margin: 5%;
  font-size: 13px;
}
.empl {
  width: 32%;
  height: 220px;
  border: 1px solid black;
  margin: 0% 0.5%;
  background: white;
  /* overflow: auto; */
}
.one {
  float: left;
  width: 46%;
  height: auto;
}
.two {
  float: left;
  width: 52%;
  height: auto;
  text-align: left;
  padding: 1%;
}
img {
  width: 100%;
  height: 80%;
}
form {
  display: inline-block;
}
.edit {
  background: white;
}
.delete {
  background: blanchedalmond;
  border-radius: 5px;
}
.delete:hover {
  background: red;
  cursor: pointer;
}
.toedit {
  background: blanchedalmond;
  border-radius: 5px;
}
.toedit:hover {
  background: lightgreen;
  cursor: pointer;
}
a {
  text-decoration: none;
}
a,
a:visited {
  color: inherit;
}
a:hover h3 {
  color: lightgreen;
}
/* input {
  width: 90%;
} */
@media screen and (max-width: 600px) {
  .empl {
    width: 48%;
    height: 150px;
  }
  h2,
  h3,
  h5 {
    color: steelblue;
    font-size: 5px;
  }

  .container {
    width: 75%;
  }
}

@media screen and (max-width: 900px) and (min-width: 600px) {
  h2,
  h3,
  h5 {
    color: steelblue;
    font-size: 5px;
  }

  .container {
    width: 75%;
  }

  .empl {
    width: 48%;
    height: 190px;
  }
  h2,
  h3,
  h5 {
    color: steelblue;
    font-size: 5px;
  }

  .container {
    width: 75%;
  }
}
@media screen and (max-width: 1367px) and (min-width: 900px) {
  .empl {
    width: 32.05%;
    height: 205px;
  }
  h2,
  h3,
  h5 {
    color: steelblue;
    font-size: 13px;
  }
}
@media screen and (min-width: 1400px) {
  .empl {
    width: 32.3%;
    height: 265px;
  }
}
